<form class="edit-form" name="employeeEditForm" role="form" ng-submit="editEmployeeCtrl.updateEmployee(editedEmployee)" novalidate>
    <div class="form-group">
        <label for="editedEmployeeFirstName">First Name:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeFirstName.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeFirstName.$error.pattern">
                You may only enter letters!
            </span>
            <!--<span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeFirstName.$touched && employeeEditForm.editedEmployeeFirstName.$error.unique">-->
            <!--Must be a unique name!-->
            <!--</span>-->
        </label>
        <input type="text" class="form-control" name="editedEmployeeFirstName"
               id="editedEmployeeFirstName" ng-model="editEmployeeCtrl.editedEmployee.FirstName"
               placeholder="Enter First Name" maxlength="20" pattern="[A-Za-z]+" required>
    </div>
    <div class="form-group">
        <label for="editedEmployeeMI">Middle Initial: </label>
        <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeMI.$invalid">
            May only contain 1 capital letter
        </span>
        <input type="text" class="form-control" name="editedEmployeeMI"
               id="editedEmployeeMI" ng-model="editEmployeeCtrl.editedEmployee.MI"
               placeholder="Enter Middle Initial" maxlength="1" pattern="[A-Z]+">
    </div>
    <div class="form-group">
        <label for="editedEmployeeLastName">Last Name:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeLastName.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeLastName.$error.pattern">
                You may only enter letters!
            </span>
        </label>
        <input type="text" class="form-control" name="editedEmployeeLastName"
               id="editedEmployeeLastName" ng-model="editEmployeeCtrl.editedEmployee.LastName"
               placeholder="Enter Last Name" maxlength="20" pattern="[A-Za-z]+" required>
    </div>
    <div class="form-group">
        <label for="editedEmployeeHouseNumber">House Number:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeHouseNumber.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeHouseNumber.$error.pattern">
                You may only enter numbers!
            </span>
        </label>
        <input type="text" class="form-control" name="editedEmployeeHouseNumber"
               id="editedEmployeeHouseNumber" ng-model="editEmployeeCtrl.editedEmployee.HouseNumber"
               placeholder="Enter House Number" maxlength="20" pattern="[0-9]+" required>
    </div>
    <div class="form-group">
        <label for="editedEmployeeStreet">Street:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeStreet.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeStreet.$error.pattern">
                May only enter letters!
            </span>
        </label>
        <input type="text" class="form-control" name="editedEmployeeStreet"
               id="editedEmployeeStreet" ng-model="editEmployeeCtrl.editedEmployee.Street"
               placeholder="Enter Street" maxlength="20" pattern="[A-Za-z ]+" required>
    </div>
    <div class="form-group">
        <label for="editedEmployeeCity">City:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeCity.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeCity.$error.pattern">
                You may only enter letters!
            </span>
        </label>
        <input type="text" class="form-control" name="editedEmployeeCity"
               id="editedEmployeeCity" ng-model="editEmployeeCtrl.editedEmployee.City"
               placeholder="Enter City" maxlength="20" pattern="[A-Za-z ]+">
    </div>
    <div class="form-group">
        <label for="editedEmployeeCounty">County:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeCounty.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeCounty.$error.pattern">
                You may only enter letters!
            </span>
        </label>
        <input type="text" class="form-control" name="editedEmployeeCounty"
               id="editedEmployeeCounty" ng-model="editEmployeeCtrl.editedEmployee.County"
               placeholder="Enter County" maxlength="20" pattern="[A-Za-z ]+" required>
    </div>
    <div class="form-group">
        <label for="editedEmployeeState">State: </label>
        <select class="form-control"
                id="editedEmployeeState"
                ng-model="editEmployeeCtrl.editedEmployee.EmployeeState"
                ng-options="usstate.StateAbb as usstate.StateName for usstate in editEmployeeCtrl.usstates">
            <option value="">No State</option>
        </select>
    </div>
    <div class="form-group">
        <label for="editedEmployeeCountry">Country: </label>
        <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeCountry.$error.required">
                Required!
            </span>
        <select class="form-control" name="editedEmployeeCountry" required
                id="editedEmployeeCountry"
                ng-model="editEmployeeCtrl.editedEmployee.EmployeeCountry"
                ng-options="country.CountryAbb as country.CountryName for country in editEmployeeCtrl.countries">
            <option value="">select a Country</option>
        </select>
    </div>
    <div class="form-group">
        <label for="editedEmployeeZip">Zip:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeZip.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeZip.$error.minlength">
                You must enter 5 numbers!
            </span>
        </label>
        <input type="text" class="form-control" name="editedEmployeeZip"
               id="editedEmployeeZip" ng-model="editEmployeeCtrl.editedEmployee.Zip"
               placeholder="Enter Zip" pattern="[0-9]+" maxlength="5" minlength="5" required>
    </div>
    <div class="form-group">
        <label for="editedEmployeeDateOfBirth">Date Of Birth:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeDateOfBirth.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeDateOfBirth.$error.date">
                Not a valid date!
            </span>
        </label>
        <input type="text" class="form-control" name="editedEmployeeDateOfBirth"
               id="editedEmployeeDateOfBirth" ng-model="editEmployeeCtrl.editedEmployee.DateOfBirth"
               placeholder="yyyy-MM-dd" min="1950-01-01" max="1995-12-31" required>
    </div>
    <div class="form-group">
        <label for="editedEmployeeHireDate">Hire Date:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeHireDate.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeHireDate.$error.date">
                Not a valid date!
            </span>
        </label>
        <input type="text" class="form-control" name="editedEmployeeHireDate"
               id="editedEmployeeHireDate" ng-model="editEmployeeCtrl.editedEmployee.HireDate"
               placeholder="yyyy-MM-dd" min="1970-01-01" max="2017-03-31" required>
    </div>
    <div class="form-group">
        <label for="editedEmployeeLicenseDate">License Date:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeLicenseDate.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeLicenseDate.$error.date">
                Not a valid date!
            </span>
        </label>
        <input type="text" class="form-control" name="editedEmployeeLicenseDate"
               id="editedEmployeeLicenseDate" ng-model="editEmployeeCtrl.editedEmployee.LicenseDate"
               placeholder="yyyy-MM-dd" min="1970-01-01" max="2017-03-31" required>
    </div>
    <div class="form-group">
        <label for="editedEmployeeTerminationDate">Termination Date:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeTerminationDate.$error.date">
                Not a valid date!
            </span>
        </label>
        <input type="text" class="form-control" name="editedEmployeeTerminationDate"
               id="editedEmployeeTerminationDate" ng-model="editEmployeeCtrl.editedEmployee.TerminationDate"
               placeholder="yyyy-MM-dd" min="1970-01-01" max="2017-03-31">
    </div>
    <div class="form-group">
        <label for="editedEmployeeSalary">Salary:
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeSalary.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeEditForm.editedEmployeeSalary.$error.number">
                Not a valid number!
            </span>
        </label>
        <input type="number" class="form-control" name="editedEmployeeSalary"
               id="editedEmployeeSalary" ng-model="editEmployeeCtrl.editedEmployee.Salary"
               placeholder="Enter Salary" maxlength="20" pattern="^\d+(\.\d{1,2})?$" required>
    </div>
    <button type="submit" class="btn btn-info btn-lg"
            ng-disabled="employeeEditForm.$invalid">Edit</button>
    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="editEmployeeCtrl.cancelEditing()">
        Cancel
    </button>
</form>